---
import { getSession } from '@solid-auth/base';
import { authOptions } from '@/server/auth';
import IndexLayout from '../../layouts/IndexLayout.astro';

const session: Session = (await getSession(Astro.request, authOptions)) as any;
if (!session) return Astro.redirect('/login');
---

<IndexLayout title="Welcome to Astro." session={session}>
  <main class="pt-8">
    <h2>Recent chats</h2>
  </main>
</IndexLayout>

<style></style>
